{% extends "blog/base.html" %}
{% block content %}
<br>
    {% if empty %}
    <h1 style="text-align:center"> {{ empty_message }}</h1>
    {% else %}
         <div class="row">
        <div class="col-sm-2"></div>
    <div class="col-sm-8 col-sm-offset-2" style="border:1px solid black;border-radius: 5px;box-shadow: 5px 10px #888888" >
    <h1 style="text-align:center;color: #702963 " >Your Cart</h1>
    <br>
        <table class="table"  border=1 frame=void rules=rows style="border-bottom:3px solid #333333;">
            <thead style="border-bottom:3px solid #333333">
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </thead>
            <tfoot>
                <tr>
                    <td > <a class= "button" href='{% url "checkout" %}'> Checkout</a></td>
                    <td></td>
                    <td></td>
                    <td> Total : {{ cart.total }}</td>
                </tr>
            </tfoot>
    {% for item in cart.cart_items.all %}
        <tr><td> {{ item.product }}
                {% if item.variations.all %}
                    <ul>
                        {% for subitem in item.variations.all %}
                            <li style="color: deeppink">{{ subitem.category|capfirst }} : {{ subitem.title|capfirst }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>

            <td>{{ item.product.price }}</td>
            <td><a  href='{% url "decrease_by_one" item.id %}'> <i class="fa fa-minus mr-2"></i></a>{{ item.quantity }}<a  href='{% url "increase_by_one" item.id %}'> <i class="fa fa-plus ml-2"></i></a></td>
            <td><a href='{% url "remove_from_cart" item.id %}'> Remove </a></td>
        </tr>
    {% endfor %}
    </table>



    </div>
         </div>
    {% endif %}

{% endblock %}