body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: #fff;
  color: #333333;
}
ul {
  margin: 0;
}
.carousel-control-prev-icon-my{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/media/icons/arrow.png") no-repeat 50% 50%;
}
.carousel-control-next-icon-my{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/media/icons/arrow.png") no-repeat 50% 50%;
}
.manage-products-img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
}
.manage-products-img img{
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
}
.text-left-then-middle{
  text-align: left;
}
.text-right-then-middle{
  text-align: right;
}
.text-color-icon{
  color: blue;
}
.footer-fixed{
  bottom: 0;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
}
.bg-steel {
  background-color: #5f788a;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}
.text-align-right{
  text-align: right;
}
.text-my{
  text-align: left;
}
.col-variations-my{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.font-price{
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.article-title {
  color: #444444;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}
.article-content {
  white-space: pre-line;
}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}
.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.account-heading {
  font-size: 2.5rem;
}
.product-img-div {
  max-height:400px;
}
.product-img {
  width:100%;
  max-height:100%;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.btn-google {
  font-family: "Montserrat Medium",sans-serif;
  color: #555;
  background-color: #fff;
  margin: auto;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  position: relative;
  z-index: 1;
}
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.card-signin .card-body {
  padding: 2rem;
}
.form-signin {
  width: 100%;
}
.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}
.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.my-row{
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.padding-zero{
  padding: 0;
}
.img-crop{
  width: 250px;
  height: 250px;
  margin: auto;
  overflow: hidden;
}
.img-crop img{
  height: auto;
  width: auto;
}
#bootstrap-overrides .li-bg-color{
  background-color: #666;
  padding-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
#bootstrap-overrides .active{
  background-color: #666;
}
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#bootstrap-overrides .carousel-control-next{
    width: auto;
}
#bootstrap-overrides .carousel-control-prev {
  width: auto;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
@media (max-width: 840px) {
  .container {
    max-width: 530px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 300px;
  }
}
@media (max-width: 420px) {
  .container {
    max-width: 200px;
  }
}
@media (min-width: 992px){
  #bootstrap-overrides .fixme{
    z-index: 100;
    position: fixed;
    width: 16.666667%;
    padding-right: 60px;
    bottom: 340px;
  }
}
@media (max-width: 575px) {
  .text-my{
    text-align: center;
  }
}
@media (max-width: 577px) {
  .col-variations-my {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .my-row {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 576px) {
  .text-align-right{
    text-align: center;
  }

  a{
    font-size: 13px;
  }
  #bootstrap-overrides h5{
    font-size: 15px;
  }
  #bootstrap-overrides h4{
    font-size: 14px;
  }
  #bootstrap-overrides h6{
    font-size: 10px;
  }
   #bootstrap-overrides h2{
    font-size: 20px;
  }
   #bootstrap-overrides .card-img-top{
     max-height: 125px;
     width: auto;
     max-width:100%
   }

}
@media (max-width: 766px) {
  .text-right-then-middle{
    text-align: center;
  }
  .text-left-then-middle{
    text-align: center;
  }

}

