{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="border">
   <form action="{% url 'checkout' %}" method="post" >
   <h4>Choose Address For delivery</h4>
    {% csrf_token %}
           {% for address in user.addresses.all %}
               <input type="radio" name="address" value="{{ address.id }}">
                    <div class="col-md-7 " id ="wrapper" >
                    <p> {{ address.name }}<br>
                     {{ address.house_no }} , {{ address.area }} <br>
                    {% if address.landmark %}
                        {{address.landmark }}<br>
                    {% endif %}
                        {{ address.city }}<br>
                    {{ address.state }} - {{ address.zip }}<br>
                    Phone-Number: {{ address.mobile_no }} {% if address.alternate_no %} , {{ address.alternate_no }}{% endif %}
                    <br>
                        <a href="{% url 'edit_address' address.id %}">Edit address</a><br>
                    <a href = "{% url 'remove_address' address.id %}"> Remove address </a>
                    </div>
           {% endfor %}
    <br><br>
    <button class="btn"> <a href="{% url 'new_address' %}"> Another address</a></button>
    <input type="submit" value="Pay">
    </form>
    </div>
    </div>

{% endblock %}