{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ec3df03138.js" crossorigin="anonymous"></script>
    {% if title %}
        <title> T-Time {{ title }} </title>
    {% else %}
        <title> T-Time </title>
    {% endif %}
</head>
<body id="bootstrap-overrides" style="margin-top: 0; background: #fff; font-family: 'Roboto', 'Whitney','Helvetica' ,'Arial', sans-serif">
<header class="site-header">
    <header style="background-color:#FFFFFF">
        <nav class=" navbar navbar-expand-lg navbar-light ">
            <img src="https://www.iitg.ac.in/stud/gymkhana/technical/assets/img/resources/codingclubLogo.png" width="60px" height="60px" alt="Coding Club">
            <div class="container">
                <a  style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="navbar-brand mr-4" href="{% url 'blog:product-home' %}"><strong>Home</strong> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                {% if user.is_authenticated or user.is_merchant == 1 %}
                    <div class="navbar-nav mr-auto">
                        <a  style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'polls:index' %}">Polling</a>
                    </div>
                {% endif %}

                    <form class="form-inline ml-auto my-2 my-lg-0" action='/s/'>
                        <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search" >
                        <button style="border-color: #ff3f6c; color: #ff3f6c" class="btn btn-outline-light my-2 my-sm-0 mx-auto text-center" onMouseOver="this.style.borderColor='green'" onMouseOut="this.style.borderColor='#ff3f6c'" type="submit">Search</button>
                    </form>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                                                            <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="https://forms.gle/vyuqSar69Fa8eBs86"><strong>Submit Your Design</strong></a>

                        {% if user.is_authenticated %}
                            {% if user.profile.is_merchant == 1 %}
                                <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'blog:manageproducts' %}">Manage Products</a>
                            {% endif %}

                            <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'profile' %}">Profile</a>
                            <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'logout' %}">Logout</a>
                            <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'orders' %}">Orders</a>
                        {% else %}
                            <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'login' %}">Login</a>
                            <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'register' %}">Register</a>
                        {% endif %}
                        <a style="color: #ff3f6c" onMouseOver="this.style.color='#007bff'" onMouseOut="this.style.color='#ff3f6c'" class="nav-item nav-link text-center" href="{% url 'cart' %}">Cart  <span class="badge">{{ request.session.items_total }}</span></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <hr style="width: 90%;background:linear-gradient(to right,deeppink,dodgerblue);height: 3px">
</header>
{% if messages and user.profile.is_merchant == 0 %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {%  endfor %}
{% endif %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!----Footer --->
{% block content %}
{%  endblock %}
<footer class="page-footer font-small stylish-color-dark pt-4 footer-fixed" >
    <hr style="width: 90%;background:linear-gradient(to right,deeppink,dodgerblue);height: 3px">
    <!-- Footer Links -->
    <div class="col-lg-10 col-md-8 col-sm-12 text-center mx-auto" >
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-sm-11 col-lg-6 col-md-6  mx-auto">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About us</h5>
                <p>We are students of IIT Guwahati who aim to provide quality apparel to IITGians.
                    We take orders from all across the country and deliver to your doorstep.
                    We provide an option to submit your own design.
                    We also hold polls frequently, product with maximum votes will get available soon . We are open all around the year to cater to our fellow IITGians.</p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-3 col-md-3 col-sm-11 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                <ul class="list-unstyled">
                     <li>
                        <a style="color: dodgerblue" target="_blank" href="https://www.iitg.ac.in/">IITG</a>
                    </li>
                    <li>
                        <a style="color: dodgerblue"  target="_blank" href="https://www.iitg.ac.in/stud/gymkhana/technical/home/CodingHome.html">Coding Club IITG</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-11 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-center text-uppercase mt-3 mb-1">Contact Us</h5>
                <!-- Social buttons -->
                <a class="" href="#"><img
                        style="width: 40px; margin: 5%" src="/media/icons/icon-gmail.png" alt="Gmail"> </a>
                <a class="" href="#"><img
                        style="width: 32px; margin: 5%" src="/media/icons/icon-fb.png" alt="Facebook"> </a>
                <!-- Social buttons -->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'register' %}" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->
    <!-- Copyright -->
    <div class="footer-copyright text-center mb-4">© 2020 Tshirt Design: All rights reserved </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>