{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <br>
    <br>
    <div class="container " style="margin-left: 2%; margin-right: 2%; max-width: 95%">
        <div class="row">
            <div class="col-sm-11 col-md-9 col-lg-2 mx-auto">
                <div  id="myHeader" class="col-sm-12" >
                    <h4 style="text-align:center;" >Categories</h4>
                    <ul style="list-style-type:none; color: black" class="list-group text-center ">
                        <li style="background: transparent; margin-bottom: 0.4rem" {% if not category %} class="list-group-item mb-2"{% endif %}><a {% if not category %} class="" style="color: deeppink; size: 20px" {% endif %} class="text-body"  href="{% url 'blog:product_list' %}">All</a></li>
                        {% for c in categories %}
                            <li style="background: transparent; margin-bottom: 0.4rem" {% if category.slug == c.slug %} class="list-group-item mb-2"{% endif %}>
                                <a  {% if category.slug == c.slug %} style="color: deeppink; size: 20px" {% else %} class="text-body" {% endif %}  href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row" style="margin-left: 0;margin-right: 0">
                    {% for product in products %}
                        <div class="col-xl-3 col-lg-4 col-md-4 col-6 mb-4">
                            <div class="card" style="height: 100%">
                                <a href="{{ product.get_absolute_url }}">

                                    <div class="product-img-div">
                                        <img class="product-img" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="..." >
                                    </div>

                                </a>
                                <div class="card-body">
                                    <h5 class="" > <a style="color: black" href="{{ product.get_absolute_url }}"><strong>{{ product.name }}</strong></a></h5>
                                    <h5 class=""> <i class="fa fa-rupee-sign"></i> {{ product.price| stringformat:'d' }} </h5>
                                </div>
                            </div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onscroll = function() {myFunction()};
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("fixme");
            } else {
                header.classList.remove("fixme");
            }
        }

    </script>
    <style>
        @media (max-width: 576px){

            .card{
                max-height: 235px;
            }
            .product-img-div{
                max-height: 130px;
            }
        }

    </style>
{% endblock content %}