{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    {#    <div class="container">#}
    {#    <div class="content-section">#}
    {#        <form method="POST">#}
    {#            {% csrf_token %}#}
    {#            <fieldset class="form-group">#}
    {#                <legend class="border-bottom mb-4"> Log In.#}
    {#                    {{ form|crispy }}#}
    {#                </legend>#}
    {#            </fieldset>#}
    {#            <div class="form-group">#}
    {#                <button class="btn btn-outline-info" type="submit"> login </button>#}
    {#            </div>#}
    {#        </form>#}
    {#        <div class="border-top pt-3">#}
    {#            <small class="text-muted">#}
    {#                Need an account? <a class="ml-2" href="{% url 'register' %}"> Sign Up Now </a>#}
    {#            </small>#}
    {#        </div>#}
    {#        <button><a href="{% provider_login_url "google"  %}">Google Login</a></button>#}
    {##}
    {#    </div>#}
    {#    </div>#}



    <div class="col-sm-10 col-md-6 col-lg-3 mx-auto">
        <div class="card card-signin my-5 shadow">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Sign In</strong></h5>
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="text-danger "><strong> {{ error }} </strong></p>
                    {% endfor %}
                    <div class="form-group">

                        <label for="{{ form.username.id_for_label }}"></label>
                        <input type="text" class="form-control" placeholder="{{ form.username.label }}" name="{{ form.username.html_name }}"
                               id="{{ form.username.id_for_label }}"
                               value="{{ form.username.value|default_if_none:'' }}" required>

                    </div>
                    <div class="form-group">

                        <label for="id_password"></label>
                        <input type="password" class="form-control" name="{{ form.password.html_name }}" placeholder="{{ form.password.label }}"
                               id="id_password" value="{{ form.password.value|default_if_none:'' }}" required>
                        {% for error in form.password.errors %}
                            <p class="text-danger "><strong> {{ error }} </strong></p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-8 mx-auto">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </div>
                </form>

                <hr>


                <a class="btn-google text-center" href="{% provider_login_url "google" %}"><img
                        style="width: 30px; margin: 10%" src="/media/icons/icon-google.png" alt="Google"> Google</a>
                <br>
                <div class="text-center">
                    <small class="text-muted text-center" style="font-family:'Poppins Light',sans-serif">
                        Need an account? <a class="ml-2" href="{% url 'register' %}"> Sign Up Now </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <style>
        @media (max-width: 576px){
            .card {
                max-height: 100%;
            }
        }

    </style>

{% endblock content %}