{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {#            <div class="form-style-10">#}
    {#                <div class="media">#}
    {#                <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="Profile Pic">#}
    {#                    <div class="media-body">#}
    {#                        <h2 class="account-heading">{{ user.username }}</h2>#}
    {#                        <p class="text-secondary">{{ user.email }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="container">#}
    {#                    <div class="row align-wrapper">#}
    {##}
    {##}
    {#                        <div class="card" style="width: 30rem;">#}
    {#                            <form method="POST" enctype="multipart/form-data">#}
    {#                                {% csrf_token %}#}
    {#                                <fieldset class="form-group">#}
    {#                                    <legend style="font-family:'Montserrat' class="border-bottom mb-4"><h5 class="account-heading"> Profile Info</h5>#}
    {#                                    <h6>#}
    {#                                        {{ u_form|crispy }}#}
    {##}
    {#                                        {{ p_form|crispy }}#}
    {#                                    </h6>#}
    {##}
    {#                                </fieldset>#}
    {#                                <div class="form-group">#}
    {#                                    <button class="btn btn-outline-info" type="submit"> Update </button>#}
    {#                                </div>#}
    {#                            </form>#}
    {#                        </div>#}
    {##}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    <div class="col-lg-4 col-md-10 col-sm-11 mt-4 mx-auto">
        <div class="card shadow">
            <div class="card-body ">
                <div>
                    <div class="img-crop mb-4">
                        <img src="{{user.profile.image.url}}" alt="profile-image">
                    </div>
                    <h3 class="card-title text-center">{{ user.username }}</h3>
                    <form class="form-signin"  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{u_form.username.id_for_label}}" >{{ u_form.username.label }}</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Username" name="{{ u_form.username.html_name }}" id="{{u_form.username.id_for_label}}" value="{{ u_form.username.value|default_if_none:''}}" required>
                                {% for error in u_form.username.errors %}
                                    <p class="text-danger "><strong>{{ error }} </strong></p>
                                {% endfor %}
                                <small class="form-text text-muted">{{ u_form.username.help_text }} </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{u_form.email.id_for_label}}">{{ u_form.email.label }}</label>
                            <div class="col-sm-12">
                                <input type="email" class="form-control"  placeholder="Email" name="{{u_form.email.html_name}}" id="{{u_form.email.id_for_label}}" value="{{ u_form.email.value|default_if_none:'' }}" required >
                                {% for error in u_form.email.errors %}
                                    <p class="text-danger "><strong>{{ error }} </strong></p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                {#                            Current: <a href="{{ MEDIA_URL }}{{ p_form.image.value }}">{{ p_form.image.value }}</a>#}
                                Change Profile Image:
                                <input class="text-body" type="file" accept="image/*" name="{{ p_form.image.name }}" id="{{p_form.image.id_for_label}}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{p_form.club.id_for_label}}" >Club</label>
                            <div class="col-sm-12">
                                <select name="{{ p_form.club.name }}" class="form-control" id="{{p_form.club.id_for_label}}" required >
                                    {% for k in p_form.club %}
                                        {{ k }}
                                        <hr>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{p_form.department.id_for_label}}" >Department</label>
                            <div class="col-sm-12">
                                <select name="{{ p_form.department.name }}" class="form-control" id="{{p_form.department.id_for_label}}" required >
                                    {% for k in p_form.department %}
                                        {{ k }}
                                        <hr>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{p_form.batch.id_for_label}}" >Batch</label>
                            <div class="col-sm-12">
                                <select name="{{ p_form.batch.name }}" class="form-control" id="{{p_form.batch.id_for_label}}" required >
                                    {% for k in p_form.batch %}
                                        {{ k }}
                                        <hr>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 mx-auto"><button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update</button></div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}